@font-face {
    font-family: 'Inter-Medium';
    src: url('./Inter-Medium.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./Inter-Regular.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.text__medium{
    font-family: Inter-Medium;
    font-size: 20px;
    color: rgba(49, 51, 65, 1);
}

.text__regular{
    font-family: Inter-Regular;
    font-size: 9px;
    color: rgba(154, 147, 140, 1);
}