body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.weather_app{
    background: linear-gradient(270deg, #f3d7ae, #f7cac9, #f8e7b9, #ffeea4, #f3d7ae);
    background-size: 400% 400%;
    animation: gradientBG 16s ease-in-out infinite;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 18px;
    border: 5px solid #ffeeb6;
    overflow-y: scroll;
    overflow-x: hidden;

}

@media screen and (max-width:500px) {
    .weather_app{
        border-radius: 0px;
        max-height: 900px;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}   

.header{
    display: flex;
    width: 218px;
    height: 81px;
    flex-direction: column;
    margin-top: 18px;
    margin-left: 25px;
}

.weather_now{
    height: 88px;
    display: flex;
    justify-content: center;
}



.weather_now__icon_img{
    width: 100px;
    height: auto;
    margin-right: 0px;
}

.weather_now__info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}   

.row_holder{
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}


.row{
    height: 40px;
    width: 220px;
    background-color:rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 5px;
}

.next7days_weather{

    display: flex;
    flex-direction: column  ;
    align-items: center;
    height: 400px;
    justify-content: space-around;  
}

.weather_time{
    width: 32px;
    height: 56px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.3);
}

.next7days{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

